
__pycache__/
*.pyo
*.pyd
*.db
instance/

venv/
env/
ENV/
noblepaints/noblepaints.db

.DS_Store
.idea/
.vscode/
*.log

*.egg-info/
*.egg/
dist/
build/
.cache/

# Allow control panel vendor distributions to be versioned
!noblepaints/static/cpanel2/vendor/
!noblepaints/static/cpanel2/vendor/**/
!noblepaints/static/cpanel2/vendor/**/dist/
!noblepaints/static/cpanel2/vendor/**/dist/**
