{% extends 'sec.html' %}
{%block head%}
<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
/>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css" rel="stylesheet">
<link href="/static/css/products.css" rel="stylesheet">
<link href="/static/css/props.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/approvals.css">
<link rel="stylesheet" href="../static/css2/nicepage.css" media="screen">
<link rel="stylesheet" href="../static/css2/approvals.css" media="screen">
<title class="text"></title>
<style>
    header{
        background: url("/static/images/header09.jpg");
    }
</style>
</style>
{%endblock%}
{%block content%}
<header class="subpage medium">
    <div class="breadcrubms">
        <div class="container2">
            <div class="row">
                <div class="col-md-12">
                    <nav>
                        <a href="/" class="home">
                            <svg aria-="true" focusable="false" data-prefix="fal" data-icon="home-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-home-alt fa-w-18"><path fill="currentColor" d="M541 229.16l-232.85-190a32.16 32.16 0 0 0-40.38 0L35 229.16a8 8 0 0 0-1.16 11.24l10.1 12.41a8 8 0 0 0 11.2 1.19L96 220.62v243a16 16 0 0 0 16 16h128a16 16 0 0 0 16-16v-128l64 .3V464a16 16 0 0 0 16 16l128-.33a16 16 0 0 0 16-16V220.62L520.86 254a8 8 0 0 0 11.25-1.16l10.1-12.41a8 8 0 0 0-1.21-11.27zm-93.11 218.59h.1l-96 .3V319.88a16.05 16.05 0 0 0-15.95-16l-96-.27a16 16 0 0 0-16.05 16v128.14H128V194.51L288 63.94l160 130.57z" class=""></path></svg>
                            <span class="text"></span>
                        </a>
                        <span class="text">approvals</span>

                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container2">
        <h1 class=""><span class="text-bg-red text">approvals</span></h1>
    </div>
</header>

    <section class="u-clearfix u-container-align-center u-section-2" style="justify-items: center;"
      id="block-2">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-expanded-width u-layout-grid u-list u-list-1">
          <div class="u-align-center u-repeater u-repeater-1">
            <div class="u-container-style u-list-item u-repeater-item">
              <div
                class="u-container-layout u-similar-container u-valign-middle u-container-layout-1">
                <div
                  class="custom-expanded u-container-style u-group u-radius u-shape-round u-white u-group-1">
                  <div
                    class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-2">
                    <img
                      class="u-expanded-width u-image u-image-contain u-image-1"
                      src="../static/images/logo1.png" data-image-width="829"
                      data-image-height="214">
                  </div>
                </div>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div
                class="u-container-layout u-similar-container u-valign-middle u-container-layout-3">
                <div
                  class="custom-expanded u-container-style u-group u-radius u-shape-round u-white u-group-2">
                  <div
                    class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-4">
                    <img
                      class="u-expanded-width u-image u-image-contain u-image-2"
                      src="../static/images/24b0ee83-fea6-44ad-9ed4-1a2bb3543c9d.png"
                      data-image-width="1115" data-image-height="383">
                  </div>
                </div>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div
                class="u-container-layout u-similar-container u-valign-middle u-container-layout-5">
                <div
                  class="custom-expanded u-container-style u-group u-radius u-shape-round u-white u-group-3">
                  <div
                    class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-6">
                    <img
                      class="u-expanded-width u-image u-image-contain u-image-3"
                      src="../static/images/65793.jpg" data-image-width="2557"
                      data-image-height="1250">
                  </div>
                </div>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div
                class="u-container-layout u-similar-container u-valign-middle u-container-layout-7">
                <div
                  class="custom-expanded u-container-style u-group u-radius u-shape-round u-white u-group-4">
                  <div
                    class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-8">
                    <img
                      class="u-expanded-width u-image u-image-contain u-image-4"
                      src="../static/images/IQT__HUB_400x4001.png"
                      data-image-width="598"
                      data-image-height="235">
                  </div>
                </div>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div
                class="u-container-layout u-similar-container u-valign-middle u-container-layout-9">
                <div
                  class="custom-expanded u-container-style u-group u-radius u-shape-round u-white u-group-5">
                  <div
                    class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-10">
                    <img
                      class="u-expanded-width u-image u-image-contain u-image-5"
                      src="../static/images/--.png" data-image-width="1250"
                      data-image-height="423">
                  </div>
                </div>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div
                class="u-container-layout u-similar-container u-valign-middle u-container-layout-11">
                <div
                  class="custom-expanded u-container-style u-group u-radius u-shape-round u-white u-group-6">
                  <div
                    class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-12">
                    <img
                      class="u-expanded-width u-image u-image-contain u-image-6"
                      src="../static/images/Client-logo-14-.png"
                      data-image-width="2543"
                      data-image-height="1179">
                  </div>
                </div>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div
                class="u-container-layout u-similar-container u-valign-middle u-container-layout-13">
                <div
                  class="custom-expanded u-container-style u-group u-radius u-shape-round u-white u-group-7">
                  <div
                    class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-14">
                    <img
                      class="u-expanded-width u-image u-image-contain u-image-7"
                      src="../static/images/Logo_of_Sabic.svg.png"
                      data-image-width="1551"
                      data-image-height="635">
                  </div>
                </div>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div
                class="u-container-layout u-similar-container u-valign-middle u-container-layout-15">
                <div
                  class="custom-expanded u-container-style u-group u-radius u-shape-round u-white u-group-8">
                  <div
                    class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-16">
                    <img
                      class="u-expanded-width u-image u-image-contain u-image-8"
                      src="../static/images/images.jpg" data-image-width="371"
                      data-image-height="178">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

<script src="/static/js/languages/approvals.js"></script>
<script src="/static/js/approvals.js"></script>
{%endblock%}
