{% extends 'sec.html' %}
{%block head%}
<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
/>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css" rel="stylesheet">
<link href="/static/css/products.css" rel="stylesheet">
<link href="/static/css/props.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/calculator.css">
<title class="text">Noble paints | Paint Calculator</title>
<style>
    header{
        background: url("/static/images/speces01.png");
        background-position: center!important;
    }
</style>
{%endblock%}
{%block content%}
<header class="subpage">
    <div class="breadcrubms">
        <div class="container2">
            <div class="row">
                <div class="col-md-12">
                    <nav>
                        <a href="/" class="home">
                            <svg aria-="true" focusable="false" data-prefix="fal" data-icon="home-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-home-alt fa-w-18"><path fill="currentColor" d="M541 229.16l-232.85-190a32.16 32.16 0 0 0-40.38 0L35 229.16a8 8 0 0 0-1.16 11.24l10.1 12.41a8 8 0 0 0 11.2 1.19L96 220.62v243a16 16 0 0 0 16 16h128a16 16 0 0 0 16-16v-128l64 .3V464a16 16 0 0 0 16 16l128-.33a16 16 0 0 0 16-16V220.62L520.86 254a8 8 0 0 0 11.25-1.16l10.1-12.41a8 8 0 0 0-1.21-11.27zm-93.11 218.59h.1l-96 .3V319.88a16.05 16.05 0 0 0-15.95-16l-96-.27a16 16 0 0 0-16.05 16v128.14H128V194.51L288 63.94l160 130.57z" class=""></path></svg>
                            <span class="text">Paint Calculator</span>
                        </a>
                        <span class="text">Paint Calculator</span>

                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container2">
        <h1 class=""><span class="text-bg-red text">Paint Calculator</span></h1>
    </div>
</header>

<section class="paint-calculator white-paint-calculator">
    <div class="container2">
        <div class="row">
            <div class="col-md-12">
                <div class="calculator-wrap">
                    <form action="#">
                        <div class="row-field">
                            <div class="option-title text">
                                
                                Units in Metric
                            </div>
                            <div class="right-side">
                                <div class="field-wrap">
                                    <label for="field" class="text">Length (m)</label>
                                    <input type="number" placeholder="0" id="length">
                                </div>
                                <div class="field-wrap">
                                    <label for="field" class="text">width (m)</label>
                                    <input type="number" placeholder="0" id="width">
                                </div>
                                <div class="field-wrap">
                                    <label for="field" class="text">height (m)</label>
                                    <input type="number" placeholder="0" id="height">
                                </div>
                            </div>
                        </div>
                        <div class="row-field">
                            <div class="option-title text">
                                
                                How Many?
                            </div>
                            <div class="right-side">
                                <div class="field-wrap large-field">
                                    <label for="field" class="text">Doors</label>
                                    <input type="number" placeholder="0" id="doors">
                                </div>
                                <div class="field-wrap large-field">
                                    <label for="field" class="text">Windows</label>
                                    <input type="number" placeholder="0" id="windows">
                                </div>
                            </div>
                        </div>
                        <button class="btn  text" onclick="CalculatePaint(); return false;">
                            Calculate now
                        </button>
                    </form>
                    <div class="descr">
                        <span class="label text">Approximate surface area of this room:</span>
                        <span id="surface" class="value text">0 Square Meters</span>
                        
                        <hr>
                        <span class="label text">Recommended amount of paint for this room:</span>
                        
                        <span id="amount" class="value text">0.00 Litres</span>
                    </div>
                    <div class="btns-wrap">
                        <span class="info text">This estimate works as a general guide, you can also calculate the amount <br> needed for each of our products.</span>
                        <a href="/productsSearch/" class="btn text toRep3">Browse Our Products</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

<script src="/static/js/languages/calculator.js"></script>
<script src="/static/js/calculator.js"></script>
{%endblock%}
