{% extends 'sec.html' %}
{%block head%}
<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
/>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css" rel="stylesheet">
<link href="/static/css/products.css" rel="stylesheet">
<link href="/static/css/props.css" rel="stylesheet">
<link rel="stylesheet" href="../static/css2/nicepage.css" media="screen">
<link rel="stylesheet" href="../static/css2/certificates.css"
    media="screen">
<title class="text"></title>
<style>
    header{
        background: url("/static/images/header09.jpg");
    }
</style>
</style>
{%endblock%}
{%block content%}
<header class="subpage medium">
    <div class="breadcrubms">
        <div class="container2">
            <div class="row">
                <div class="col-md-12">
                    <nav>
                        <a href="/" class="home">
                            <svg aria-="true" focusable="false" data-prefix="fal" data-icon="home-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-home-alt fa-w-18"><path fill="currentColor" d="M541 229.16l-232.85-190a32.16 32.16 0 0 0-40.38 0L35 229.16a8 8 0 0 0-1.16 11.24l10.1 12.41a8 8 0 0 0 11.2 1.19L96 220.62v243a16 16 0 0 0 16 16h128a16 16 0 0 0 16-16v-128l64 .3V464a16 16 0 0 0 16 16l128-.33a16 16 0 0 0 16-16V220.62L520.86 254a8 8 0 0 0 11.25-1.16l10.1-12.41a8 8 0 0 0-1.21-11.27zm-93.11 218.59h.1l-96 .3V319.88a16.05 16.05 0 0 0-15.95-16l-96-.27a16 16 0 0 0-16.05 16v128.14H128V194.51L288 63.94l160 130.57z" class=""></path></svg>
                            <span class="text"></span>
                        </a>
                        <span class="text">Certificates</span>

                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container2">
        <h1 class=""><span class="text-bg-red text">Certificates</span></h1>
    </div>
</header>
    <section class="u-clearfix u-section-2" id="block-2">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div
          class="u-expanded-width u-gallery u-layout-grid u-lightbox u-no-transition u-show-text-on-hover u-gallery-1">
          <div class="u-gallery-inner u-gallery-inner-1">
            <div class="u-effect-fade u-gallery-item u-gallery-item-1">
              <div class="u-back-slide" data-image-width="591"
                data-image-height="691">
                <img class="u-back-image u-expanded u-image-contain"
                  src="../static/images/Screenshot64.png">
              </div>
              <div class="u-over-slide u-shading u-over-slide-1"></div>
            </div>
            <div class="u-effect-fade u-gallery-item u-gallery-item-2">
              <div class="u-back-slide" data-image-width="580"
                data-image-height="689">
                <img class="u-back-image u-expanded"
                  src="../static/images/Screenshot63.png">
              </div>
              <div class="u-over-slide u-shading u-over-slide-2"></div>
            </div>
            <div class="u-effect-fade u-gallery-item u-gallery-item-3">
              <div class="u-back-slide" data-image-width="599"
                data-image-height="688">
                <img class="u-back-image u-expanded"
                  src="../static/images/Screenshot62.png">
              </div>
              <div class="u-over-slide u-shading u-over-slide-3"></div>
            </div>
            <div class="u-effect-fade u-gallery-item u-gallery-item-4">
              <div class="u-back-slide" data-image-width="594"
                data-image-height="692">
                <img class="u-back-image u-expanded"
                  src="../static/images/Screenshot61.png">
              </div>
              <div class="u-over-slide u-shading u-over-slide-4"></div>
            </div>
            <div class="u-effect-fade u-gallery-item u-gallery-item-5">
              <div class="u-back-slide" data-image-width="595"
                data-image-height="686">
                <img class="u-back-image u-expanded"
                  src="../static/images/Screenshot60.png">
              </div>
              <div class="u-over-slide u-shading u-over-slide-5"></div>
            </div>
            <div class="u-effect-fade u-gallery-item u-gallery-item-6">
              <div class="u-back-slide" data-image-width="585"
                data-image-height="696">
                <img class="u-back-image u-expanded"
                  src="../static/images/Screenshot59.png">
              </div>
              <div class="u-over-slide u-shading u-over-slide-6"></div>
            </div>
            <div class="u-effect-fade u-gallery-item u-gallery-item-7">
              <div class="u-back-slide" data-image-width="590"
                data-image-height="712">
                <img class="u-back-image u-expanded"
                  src="../static/images/Screenshot58.png">
              </div>
              <div class="u-over-slide u-shading u-over-slide-7"></div>
            </div>
            <div class="u-effect-fade u-gallery-item u-gallery-item-8">
              <div class="u-back-slide" data-image-width="581"
                data-image-height="700">
                <img class="u-back-image u-expanded"
                  src="../static/images/Screenshot57.png">
              </div>
              <div class="u-over-slide u-shading u-over-slide-8"></div>
            </div>
            <div class="u-effect-fade u-gallery-item u-gallery-item-9">
              <div class="u-back-slide" data-image-width="591"
                data-image-height="695">
                <img class="u-back-image u-expanded"
                  src="../static/images/Screenshot56.png">
              </div>
              <div class="u-over-slide u-shading u-over-slide-9"></div>
            </div>
            <div class="u-effect-fade u-gallery-item u-gallery-item-10">
              <div class="u-back-slide" data-image-width="592"
                data-image-height="708">
                <img class="u-back-image u-expanded"
                  src="../static/images/Screenshot55.png">
              </div>
              <div class="u-over-slide u-shading u-over-slide-10"></div>
            </div>
            <div class="u-effect-fade u-gallery-item u-gallery-item-11">
              <div class="u-back-slide" data-image-width="584"
                data-image-height="713">
                <img class="u-back-image u-expanded"
                  src="../static/images/Screenshot54.png">
              </div>
              <div class="u-over-slide u-shading u-over-slide-11"></div>
            </div>
            <div class="u-effect-fade u-gallery-item u-gallery-item-12">
              <div class="u-back-slide" data-image-width="590"
                data-image-height="712">
                <img class="u-back-image u-expanded"
                  src="../static/images/Screenshot53.png">
              </div>
              <div class="u-over-slide u-shading u-over-slide-12"></div>
            </div>
            <div class="u-effect-fade u-gallery-item u-gallery-item-13">
              <div class="u-back-slide" data-image-width="594"
                data-image-height="697">
                <img class="u-back-image u-expanded"
                  src="../static/images/Screenshot52.png">
              </div>
              <div class="u-over-slide u-shading u-over-slide-13"></div>
            </div>
            <div class="u-effect-fade u-gallery-item u-gallery-item-14">
              <div class="u-back-slide" data-image-width="584"
                data-image-height="724">
                <img class="u-back-image u-expanded"
                  src="../static/images/Screenshot51.png">
              </div>
              <div class="u-over-slide u-shading u-over-slide-14"></div>
            </div>
            <div class="u-effect-fade u-gallery-item u-gallery-item-15">
              <div class="u-back-slide" data-image-width="597"
                data-image-height="738">
                <img class="u-back-image u-expanded"
                  src="../static/images/Screenshot50.png">
              </div>
              <div class="u-over-slide u-shading u-over-slide-15"></div>
            </div>
            <div class="u-effect-fade u-gallery-item u-gallery-item-16">
              <div class="u-back-slide" data-image-width="588"
                data-image-height="734">
                <img class="u-back-image u-expanded"
                  src="../static/images/Screenshot49.png">
              </div>
              <div class="u-over-slide u-shading u-over-slide-16"></div>
            </div>
            <div class="u-effect-fade u-gallery-item u-gallery-item-17">
              <div class="u-back-slide" data-image-width="589"
                data-image-height="707">
                <img class="u-back-image u-expanded"
                  src="../static/images/Screenshot48.png">
              </div>
              <div class="u-over-slide u-shading u-over-slide-17"></div>
            </div>
            <div class="u-effect-fade u-gallery-item u-gallery-item-18">
              <div class="u-back-slide" data-image-width="584"
                data-image-height="728">
                <img class="u-back-image u-expanded"
                  src="../static/images/Screenshot47.png">
              </div>
              <div class="u-over-slide u-shading u-over-slide-18"></div>
            </div>
            <div class="u-effect-fade u-gallery-item u-gallery-item-19">
              <div class="u-back-slide" data-image-width="592"
                data-image-height="718">
                <img class="u-back-image u-expanded"
                  src="../static/images/Screenshot46.png">
              </div>
              <div class="u-over-slide u-shading u-over-slide-19"></div>
            </div>
            <div class="u-effect-fade u-gallery-item u-gallery-item-20">
              <div class="u-back-slide" data-image-width="586"
                data-image-height="733">
                <img class="u-back-image u-expanded"
                  src="../static/images/Screenshot45.png">
              </div>
              <div class="u-over-slide u-shading u-over-slide-20"></div>
            </div>
            <div class="u-effect-fade u-gallery-item u-gallery-item-21">
              <div class="u-back-slide" data-image-width="587"
                data-image-height="718">
                <img class="u-back-image u-expanded"
                  src="../static/images/Screenshot44.png">
              </div>
              <div class="u-over-slide u-shading u-over-slide-21"></div>
            </div>
            <div class="u-effect-fade u-gallery-item u-gallery-item-22">
              <div class="u-back-slide" data-image-width="594"
                data-image-height="745">
                <img class="u-back-image u-expanded"
                  src="../static/images/Screenshot43.png">
              </div>
              <div class="u-over-slide u-shading u-over-slide-22"></div>
            </div>
            <div class="u-effect-fade u-gallery-item u-gallery-item-23">
              <div class="u-back-slide" data-image-width="590"
                data-image-height="756">
                <img class="u-back-image u-expanded"
                  src="../static/images/Screenshot42.png">
              </div>
              <div class="u-over-slide u-shading u-over-slide-23"></div>
            </div>
            <div class="u-effect-fade u-gallery-item u-gallery-item-24">
              <div class="u-back-slide" data-image-width="592"
                data-image-height="743">
                <img class="u-back-image u-expanded"
                  src="../static/images/Screenshot41.png">
              </div>
              <div class="u-over-slide u-shading u-over-slide-24"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

<script src="/static/js/languages/certificates.js"></script>
<script src="/static/js/certificates.js"></script>
{%endblock%}
