{% extends 'sec.html' %}
{%block head%}
<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
/>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css" rel="stylesheet">
<link href="/static/css/products.css" rel="stylesheet">
<link href="/static/css/props.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/products.css">
<title>Noble paints | products</title>
{%endblock%}
{%block content%}
<header class="subpage">
    <div class="container2">
        <h1 class="text"><span class="text-bg-red">Products</span></h1>
    </div>
</header>
<section class="paintspart" id="productsCategories">
    <div class="lists">
        <div class="col-lg-4 col-sm-6 col-xs-6 paintbox" idNum="Decorative Interior Paints">
            <div class="imgbox">
                <img src="/static/images/products_categories01.png" alt="">
            </div>
            <div class="details">
                <div class="icon"><img src="/Content/ClientTheme/en/images/palitr-icon.png" alt=""></div>
                <h4>Decorative<br>Interior Paints</h4>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-6 paintbox" idNum="Decorative Interior Trust Hygienic">
            <div class="imgbox">
                <img src="/static/images/products_categories02.png" alt="">
            </div>
            <div class="details">
                <div class="icon"><img src="/Content/ClientTheme/en/images/calculator-icon.png" alt=""></div>
                <h4>Decorative Interior<br>Trust Hygienic</h4>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-6 paintbox" idNum="Decorative Exterior">
            <div class="imgbox">
                <img src="/static/images/products_categories03.png" alt="">
            </div>
            <div class="details">
                <div class="icon"><img src="/Content/ClientTheme/en/images/location-icon.png" alt=""></div>
                <h4>Decorative<br>Exterior</h4>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-6 paintbox" idNum="Automotive Paint">
            <div class="imgbox">
                <img src="/static/images/products_categories04.png" alt="">
            </div>
            <div class="details">
                <div class="icon"><img src="/Content/ClientTheme/en/images/location-icon.png" alt=""></div>
                <h4>Automotive<br>Paint</h4>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-6 paintbox" idNum="Industrial Coatings">
            <div class="imgbox">
                <img src="/static/images/products_categories05.png" alt="">
            </div>
            <div class="details">
                <div class="icon"><img src="/Content/ClientTheme/en/images/location-icon.png" alt=""></div>
                <h4>Industrial<br>Coatings</h4>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-6 paintbox" idNum="Protective Paints">
            <div class="imgbox">
                <img src="/static/images/products_categories06.png" alt="">
            </div>
            <div class="details">
                <div class="icon"><img src="/Content/ClientTheme/en/images/location-icon.png" alt=""></div>
                <h4>Protective<br>Paints</h4>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-6 paintbox" idNum="Wood Stain">
            <div class="imgbox">
                <img src="/static/images/products_categories07.png" alt="">
            </div>
            <div class="details">
                <div class="icon"><img src="/Content/ClientTheme/en/images/location-icon.png" alt=""></div>
                <h4>Wood<br>Stain</h4>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-6 paintbox" idNum="Fire Intumescent Paints">
            <div class="imgbox">
                <img src="/static/images/products_categories08.png" alt="">
            </div>
            <div class="details">
                <div class="icon"><img src="/Content/ClientTheme/en/images/location-icon.png" alt=""></div>
                <h4>Fire Intumescent<br>Paints</h4>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-6 paintbox" idNum="Floor Coating&Road Marking">
            <div class="imgbox">
                <img src="/static/images/products_categories09.png" alt="">
            </div>
            <div class="details">
                <div class="icon"><img src="/Content/ClientTheme/en/images/location-icon.png" alt=""></div>
                <h4>Floor Coating <br>&Road Marking</h4>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-6 paintbox" idNum="Powder Coatings">
            <div class="imgbox">
                <img src="/static/images/products_categories10.png" alt="">
            </div>
            <div class="details">
                <div class="icon"><img src="/Content/ClientTheme/en/images/location-icon.png" alt=""></div>
                <h4>Powder<br>Coatings</h4>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-6 paintbox" idNum="Adhesives">
            <div class="imgbox">
                <img src="/static/images/products_categories11.png" alt="">
            </div>
            <div class="details">
                <div class="icon"><img src="/Content/ClientTheme/en/images/location-icon.png" alt=""></div>
                <h4>Adhesives</h4>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-6 paintbox" idNum="Thinners">
            <div class="imgbox">
                <img src="/static/images/products_categories12.png" alt="">
            </div>
            <div class="details">
                <div class="icon"><img src="/Content/ClientTheme/en/images/location-icon.png" alt=""></div>
                <h4>Thinners</h4>
            </div>
        </div>
    </div>
</section>
<script src="/static/js/languages/products.js"></script>
<script src="/static/js/products.js"></script>
{%endblock%}
