{% extends 'sec.html' %}
{%block head%}
<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
/>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css" rel="stylesheet">
<link href="/static/css/products.css" rel="stylesheet">
<link href="/static/css/props.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/productsSearch.css">
<title class="text">Noble paints | Products</title>
<style>
    header{
        background: url("/static/images/header02.jpg");
    }
</style>
</style>
{%endblock%}
{%block content%}
<header class="subpage">
    <div class="breadcrubms">
        <div class="container2">
            <div class="row">
                <div class="col-md-12">
                    <nav>
                        <a href="/" class="home">
                            <svg aria-="true" focusable="false" data-prefix="fal" data-icon="home-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-home-alt fa-w-18"><path fill="currentColor" d="M541 229.16l-232.85-190a32.16 32.16 0 0 0-40.38 0L35 229.16a8 8 0 0 0-1.16 11.24l10.1 12.41a8 8 0 0 0 11.2 1.19L96 220.62v243a16 16 0 0 0 16 16h128a16 16 0 0 0 16-16v-128l64 .3V464a16 16 0 0 0 16 16l128-.33a16 16 0 0 0 16-16V220.62L520.86 254a8 8 0 0 0 11.25-1.16l10.1-12.41a8 8 0 0 0-1.21-11.27zm-93.11 218.59h.1l-96 .3V319.88a16.05 16.05 0 0 0-15.95-16l-96-.27a16 16 0 0 0-16.05 16v128.14H128V194.51L288 63.94l160 130.57z" class=""></path></svg>
                            <span class="text">Home</span>
                        </a>
                        <span class="text">Products</span>

                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container2">
    </div>
</header>
<main style="padding-top: 35px;">
    <div class="container2 products">
        <div class="row">
            <aside class="filters">
                <h3 class="title text">Filter Products</h3>
                <div class="filter-professionals">
                    <form>
                        <div class="filed-wrap search-wrap">
                                {% if search == None %}
                                <input type="text" id="SearchKeywords">
                                {% else %}
                                <input type="text" id="SearchKeywords" value="{{search}}">
                                {% endif %}
                                <button id="Searchbtn">
                                    <img src="/static/images/icons/search-icon-2.png" alt="icon">
                                </button>
                            
                        </div>
                        <div class="filed-wrap">

                                    <label for="country" class="field-title text">Select a country </label>
                                    <div class="select-wrap">
                                        <select name="country" id="selectCountries" value="{{country}}">
                                                <option></option>
                                                {%if country == 'All'%}
                                                <option selected>All</option>
                                                {%else%}
                                                <option>All</option>
                                                {%endif%}
                                                {%if country == 'Algeria'%}
                                                <option selected>Algeria</option>
                                                {%else%}
                                                <option>Algeria</option>
                                                {%endif%}
                                                {%if country == 'Bahrain'%}
                                                <option selected>Bahrain</option>
                                                {%else%}
                                                <option>Bahrain</option>
                                                {%endif%}
                                                {%if country == 'Canada'%}
                                                <option selected>Canada</option>
                                                {%else%}
                                                <option>Canada</option>
                                                {%endif%}
                                                {%if country == 'Denmark'%}
                                                <option selected>Denmark</option>
                                                {%else%}
                                                <option>Denmark</option>
                                                {%endif%}
                                                {%if country == 'Egypt'%}
                                                <option selected>Egypt</option>
                                                {%else%}
                                                <option>Egypt</option>
                                                {%endif%}
                                                {%if country == 'France'%}
                                                <option selected>France</option>
                                                {%else%}
                                                <option>France</option>
                                                {%endif%}
                                                {%if country == 'Germany'%}
                                                <option selected>Germany</option>
                                                {%else%}
                                                <option>Germany</option>
                                                {%endif%}
                                                {%if country == 'India'%}
                                                <option selected>India</option>
                                                {%else%}
                                                <option>India</option>
                                                {%endif%}
                                                {%if country == 'Iraq'%}
                                                <option selected>Iraq</option>
                                                {%else%}
                                                <option>Iraq</option>
                                                {%endif%}
                                                {%if country == 'Italy'%}
                                                <option selected>Italy</option>
                                                {%else%}
                                                <option>Italy</option>
                                                {%endif%}
                                                {%if country == 'Kuwait'%}
                                                <option selected>Kuwait</option>
                                                {%else%}
                                                <option>Kuwait</option>
                                                {%endif%}
                                                {%if country == 'Kyrgyzstan'%}
                                                <option selected>Kyrgyzstan</option>
                                                {%else%}
                                                <option>Kyrgyzstan</option>
                                                {%endif%}
                                                {%if country == 'Libya'%}
                                                <option selected>Libya</option>
                                                {%else%}
                                                <option>Libya</option>
                                                {%endif%}
                                                {%if country == 'Morocco'%}
                                                <option selected>Morocco</option>
                                                {%else%}
                                                <option>Morocco</option>
                                                {%endif%}
                                                {%if country == 'Oman'%}
                                                <option selected>Oman</option>
                                                {%else%}
                                                <option>Oman</option>
                                                {%endif%}
                                                {%if country == 'Qatar'%}
                                                <option selected>Qatar</option>
                                                {%else%}
                                                <option>Qatar</option>
                                                {%endif%}
                                                {%if country == 'Saudi Arabia'%}
                                                <option selected>Saudi Arabia</option>
                                                {%else%}
                                                <option>Saudi Arabia</option>
                                                {%endif%}
                                                {%if country == 'Sudan'%}
                                                <option selected>Sudan</option>
                                                {%else%}
                                                <option>Sudan</option>
                                                {%endif%}
                                                {%if country == 'Tanzania'%}
                                                <option selected>Tanzania</option>
                                                {%else%}
                                                <option>Tanzania</option>
                                                {%endif%}
                                                {%if country == 'South Africa'%}
                                                <option selected>South Africa</option>
                                                {%else%}
                                                <option>South Africa</option>
                                                {%endif%}
                                                {%if country == 'UAE'%}
                                                <option selected>UAE</option>
                                                {%else%}
                                                <option>UAE</option>
                                                {%endif%}
                                                {%if country == 'United States'%}
                                                <option selected>United States</option>
                                                {%else%}
                                                <option>United States</option>
                                                {%endif%}
                                                {%if country == 'Yemen'%}
                                                <option selected>Yemen</option>
                                                {%else%}
                                                <option>Yemen</option>
                                                {%endif%}
                                        </select>
                                    </div>


                        </div>
                        <div class="filed-wrap radio-fields">
                            <label class="field-title text">Category</label>
                            <div class="radio-wrap checked">
                                <div class="check-wrap checked">
                                    <input type="radio" class="radioSegments" value="All" id="seg0">
                                </div>
                                <label for="seg0" name="All">All</label>
                            </div>
                            <div class="">
                                {% for x in categories %}
                                {% if x.id != 29 %}
                                <div class="radio-wrap hidden" lang="en">
                                    <div class="check-wrap  23">
                                        <input type="radio" name="radioSegments" class="radioSegments" value="23" id="seg23" data-name="{{x.name}}">
                                    </div>
                                    <label name="{{x.id}}" for="seg23">{{x.name}}</label>
                                </div>
                                <div class="radio-wrap hidden" lang="ar">
                                    <div class="check-wrap  23">
                                        <input type="radio" name="radioSegments" class="radioSegments" value="23" id="seg23" data-name="{{x.name}}">
                                    </div>
                                    <label name="{{x.id}}" for="seg23">{{x.nameArabic}}</label>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                            <div class="show-on-mobile hidden">
                                {% for x in categories %}
                                {% if loop.index < 5 %}
                                <div class="radio-wrap hidden" lang="en">
                                    <div class="check-wrap  23">
                                        <input type="radio" name="radioSegments" class="radioSegments" value="23" id="seg23" data-name="{{x.name}}">
                                    </div>
                                    <label name="{{x.name}}" for="seg23">{{x.name}}</label>
                                </div>
                                <div class="radio-wrap hidden" lang="ar">
                                    <div class="check-wrap  23">
                                        <input type="radio" name="radioSegments" class="radioSegments" value="23" id="seg23" data-name="{{x.name}}">
                                    </div>
                                    <label name="{{x.name}}" for="seg23">{{x.nameArabic}}</label>
                                </div>
                                {% endif %}
                                {% endfor %}
                                {% if categories|length >= 5 %}
                                <!--button onclick="myFunction()" id="myBtn" type="button">See All</button-->
                                <div class="more">
                                {% for x in categories %}
                                {% if loop.index >= 5 %}
                                    <div class="radio-wrap hidden" lang="en">
                                        <div class="check-wrap  22">
                                            <input type="radio" name="radioSegments" class="radioSegments" value="22" id="seg22" data-name="{{x.name}}">
                                        </div>
                                        <label name="{{x.name}}" for="seg22">{{x.name}}</label>
                                    </div>
                                    <div class="radio-wrap hidden" lang="ar">
                                        <div class="check-wrap  22">
                                            <input type="radio" name="radioSegments" class="radioSegments" value="22" id="seg22" data-name="{{x.name}}">
                                        </div>
                                        <label name="{{x.name}}" for="seg22">{{x.nameArabic}}</label>
                                    </div>
                                {% endif %}
                                {% endfor %}
                                </div>
                                {% endif %}
                            </div>

                </div>
                    </form>
                </div>
            </aside>
            <section class="products">
                <div class="top-info">
                    <!--<span class="results">Results: <b>24</b> products</span>-->
                    <div class="category">

                        
                        
                    </div>
                </div>
                <div class="products-wrap">
                    {% for x in items[((page|int-1)*(12|int)):((page|int)*(12|int))]%}
                    <div class="product-item" lang="{{x.lang}}" idNum="{{x.id}}">
                        <a href="/product/?id={{x.id}}">
                        <picture>
                            {% if x.img != None %}
                            <img src="{{x.img}}" alt="product">
                            {% else %}
                            <img src="/static/images/prod01.png" alt="product">
                            {% endif %}
                        </picture>
                        <h3>{{x.name}}</h3>
                        <p>{{x.desc|safe}}</p>
                        </a><a href="/product/?id={{x.id}}" class="LearnMore">Learn More</a>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-md-12">
                    <div class="card-footer px-3 border-0 d-flex flex-column flex-lg-row align-items-center justify-content-between" style="background: transparent;">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination mb-0">
                                <li class="page-item {%if page|int<2%}disabled{%endif%}">
                                  <a class="page-link text" href="#" onclick="location.href=`/productsSearch/?page={{page|int - 1}}&category=${getParams('category')}&search=${getParams('search')}&country=${getParams('country')}&lang=${getLang()}`">Previous</a>
                              </li>
                                {% for i in range(1,((items|length)/(12))|round(0, 'ceil')|int + 1) %}
                                <li class="page-item {%if i|string in page%}active{%endif%}">
                                    <a class="page-link" href="#" onclick="location.href=`/productsSearch/?page={{i}}&category=${getParams('category')}&search=${getParams('search')}&country=${getParams('country')}&lang=${getLang()}`">{{i}}</a>
                                </li>
                                {%endfor%}
                                <li class="page-item {%if items[((page|int-1)*(12|int)):((page|int)*(12|int)+1)]|length <= 12%}disabled{%endif%}">
                                  <a class="page-link text" href="#" onclick="location.href=`/productsSearch/?page={{page|int + 1}}&category=${getParams('category')}&search=${getParams('search')}&country=${getParams('country')}&lang=${getLang()}`">Next</a>
                              </li>
                              
                            </ul>
                        </nav>
                      </div>
            </section>
        </div>

    </div>
</main>
<script src="/static/js/languages/productsSearch.js"></script>
<script src="/static/js/productsSearch.js"></script>
{%endblock%}
