{% extends 'sec.html' %}
{%block head%}
<!-- Preload critical CSS -->
<link rel="preload" href="/static/css/products.css" as="style"
    onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="/static/css/products.css"></noscript>
<link rel="preload" href="/static/css/props.css" as="style"
    onload="this.onload=null;this.rel='stylesheet'">

<link rel="stylesheet" href="../static/css2/nicepage.css" media="screen">
<link rel="stylesheet" href="../static/css2/Technical-Datasheets.css"
    media="screen">
<script class="u-script" type="text/javascript" src="../static/js/jquery.js"
    defer></script>
<script class="u-script" type="text/javascript"
    src="../static/js/nicepage.js"
    defer></script>
<noscript><link rel="stylesheet" href="/static/css/props.css"></noscript>
<link rel="stylesheet" href="/static/css/TechnicalDatasheets.css">

<!-- Load external resources efficiently -->
<link rel="preconnect" href="https://cdn.jsdelivr.net">
<link rel="preconnect" href="https://netdna.bootstrapcdn.com">
<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
    media="print" onload="this.media='all'" />
<noscript><link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"></noscript>

<link href="//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css"
    rel="stylesheet" media="print" onload="this.media='all'">
<noscript><link
        href="//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css"
        rel="stylesheet"></noscript>

<title class="text">Noble paints | Technical Datasheets</title>
<style>
    header{
        background: url("/static/images/header04.webp");
        background-size: cover;
        background-position: center;
    }
    /* Loading states */
    .catalog-wrap {
        min-height: 400px;
        position: relative;
    }
    .loading-spinner {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 3px solid #f3f3f3;
        border-top: 3px solid #3498db;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: spin 1s linear infinite;
    }
    @keyframes spin {
        0% { transform: translate(-50%, -50%) rotate(0deg); }
        100% { transform: translate(-50%, -50%) rotate(360deg); }
    }
</style>
{%endblock%}
{%block content%}
<header class="subpage medium">
    <div class="breadcrubms">
        <div class="container2">
            <div class="row">
                <div class="col-md-12">
                    <nav>
                        <a href="/" class="home">
                            <svg aria-="true" focusable="false"
                                data-prefix="fal" data-icon="home-alt"
                                role="img" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 576 512"
                                class="svg-inline--fa fa-home-alt fa-w-18"><path
                                    fill="currentColor"
                                    d="M541 229.16l-232.85-190a32.16 32.16 0 0 0-40.38 0L35 229.16a8 8 0 0 0-1.16 11.24l10.1 12.41a8 8 0 0 0 11.2 1.19L96 220.62v243a16 16 0 0 0 16 16h128a16 16 0 0 0 16-16v-128l64 .3V464a16 16 0 0 0 16 16l128-.33a16 16 0 0 0 16-16V220.62L520.86 254a8 8 0 0 0 11.25-1.16l10.1-12.41a8 8 0 0 0-1.21-11.27zm-93.11 218.59h.1l-96 .3V319.88a16.05 16.05 0 0 0-15.95-16l-96-.27a16 16 0 0 0-16.05 16v128.14H128V194.51L288 63.94l160 130.57z"
                                    class></path></svg>
                            <span class="text">Technical Datasheets</span>
                        </a>
                        <span class="text">Technical Datasheets</span>

                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container2">
        <h1 class="text"><span class="text-bg-red text">Technical
                Datasheets</span></h1>
    </div>
</header>
<section class="u-clearfix u-section-2" id="block-2">
    <div
        class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-valign-top-xl u-sheet-1">
        <div class="u-expanded-width u-layout-horizontal u-list u-list-1">
            <div class="u-repeater u-repeater-1">
                <div class="u-container-style u-list-item u-repeater-item">
                    <div
                        class="u-container-layout u-similar-container u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xs u-container-layout-1">
                        <div
                            class="u-border-1 u-border-grey-75 u-container-style u-group u-radius u-shape-round u-white u-group-1">
                            <div
                                class="u-container-layout u-valign-top u-container-layout-2"><span
                                    class="u-file-icon u-icon u-icon-1"><img
                                        src="../static/images/3143460.png"
                                        alt></span>
                                <h6
                                    class="u-align-center u-custom-font u-text u-text-color-var u-text-default u-text-1">
                                    Adhesives<br>
                                </h6>
                                <a href="../static/files/Adhesives.zip"
                                    class="u-btn u-btn-round u-button-style u-custom-color-3 u-custom-font u-file-link u-hover-custom-color-12 u-hover-feature u-radius u-btn-1">
                                    View</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="u-container-style u-list-item u-repeater-item">
                    <div
                        class="u-container-layout u-similar-container u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xs u-container-layout-3">
                        <div
                            class="u-border-1 u-border-grey-75 u-container-style u-group u-radius u-shape-round u-white u-group-2">
                            <div
                                class="u-container-layout u-valign-top u-container-layout-4"><span
                                    class="u-file-icon u-icon u-icon-2"><img
                                        src="../static/images/3143460.png"
                                        alt></span>
                                <h6
                                    class="u-align-center u-custom-font u-text u-text-default u-text-2">
                                    Automotive Paints<br>
                                </h6>
                                <a href="../static/files/AutomotivePaints.zip"
                                    class="u-btn u-btn-round u-button-style u-custom-color-3 u-custom-font u-file-link u-hover-custom-color-12 u-hover-feature u-radius u-btn-2">
                                    View</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="u-container-style u-list-item u-repeater-item">
                    <div
                        class="u-container-layout u-similar-container u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xs u-container-layout-5">
                        <div
                            class="u-border-1 u-border-grey-75 u-container-style u-group u-radius u-shape-round u-white u-group-3">
                            <div
                                class="u-container-layout u-valign-top u-container-layout-6"><span
                                    class="u-file-icon u-icon u-icon-3"><img
                                        src="../static/images/3143460.png"
                                        alt></span>
                                <h6
                                    class="u-align-center u-custom-font u-text u-text-default u-text-3">
                                    Decorative Paints<br>
                                </h6>
                                <a href="../static/files/DecorativePaints.zip"
                                    class="u-btn u-btn-round u-button-style u-custom-color-3 u-custom-font u-file-link u-hover-custom-color-12 u-hover-feature u-radius u-btn-3">
                                    View</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="u-container-style u-list-item u-repeater-item">
                    <div
                        class="u-container-layout u-similar-container u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xs u-container-layout-7">
                        <div
                            class="u-border-1 u-border-grey-75 u-container-style u-group u-radius u-shape-round u-white u-group-4">
                            <div
                                class="u-container-layout u-valign-top u-container-layout-8"><span
                                    class="u-file-icon u-icon u-icon-4"><img
                                        src="../static/images/3143460.png"
                                        alt></span>
                                <h6
                                    class="u-align-center u-custom-font u-text u-text-default u-text-4">
                                    Floors &amp; Road Marking<br>
                                </h6>
                                <a href="../static/files/FloorsRoadMarking.zip"
                                    class="u-btn u-btn-round u-button-style u-custom-color-3 u-custom-font u-file-link u-hover-custom-color-12 u-hover-feature u-radius u-btn-4">
                                    View</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="u-container-style u-list-item u-repeater-item">
                    <div
                        class="u-container-layout u-similar-container u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xs u-container-layout-9">
                        <div
                            class="u-border-1 u-border-grey-75 u-container-style u-group u-radius u-shape-round u-white u-group-5">
                            <div
                                class="u-container-layout u-valign-top u-container-layout-10"><span
                                    class="u-file-icon u-icon u-icon-5"><img
                                        src="../static/images/3143460.png"
                                        alt></span>
                                <h6
                                    class="u-align-center u-custom-font u-text u-text-default u-text-5">
                                    General Technical Informations<br>
                                </h6>
                                <a
                                    href="../static/files/GeneralTechnicalInformations.zip"
                                    class="u-btn u-btn-round u-button-style u-custom-color-3 u-custom-font u-file-link u-hover-custom-color-12 u-hover-feature u-radius u-btn-5">
                                    View</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="u-container-style u-list-item u-repeater-item">
                    <div
                        class="u-container-layout u-similar-container u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xs u-container-layout-11">
                        <div
                            class="u-border-1 u-border-grey-75 u-container-style u-group u-radius u-shape-round u-white u-group-6">
                            <div
                                class="u-container-layout u-valign-top u-container-layout-12"><span
                                    class="u-file-icon u-icon u-icon-6"><img
                                        src="../static/images/3143460.png"
                                        alt></span>
                                <h6
                                    class="u-align-center u-custom-font u-text u-text-default u-text-6">
                                    Industirial Coatings<br>
                                </h6>
                                <a
                                    href="../static/files/IndustirialCoatings.zip"
                                    class="u-btn u-btn-round u-button-style u-custom-color-3 u-custom-font u-file-link u-hover-custom-color-12 u-hover-feature u-radius u-btn-6">
                                    View</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="u-container-style u-list-item u-repeater-item">
                    <div
                        class="u-container-layout u-similar-container u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xs u-container-layout-13">
                        <div
                            class="u-border-1 u-border-grey-75 u-container-style u-group u-radius u-shape-round u-white u-group-7">
                            <div
                                class="u-container-layout u-valign-top u-container-layout-14"><span
                                    class="u-file-icon u-icon u-icon-7"><img
                                        src="../static/images/3143460.png"
                                        alt></span>
                                <h6
                                    class="u-align-center u-custom-font u-text u-text-default u-text-7">
                                    Powder Coatings<br>
                                </h6>
                                <a href="../static/files/PowderCoatings.zip"
                                    class="u-btn u-btn-round u-button-style u-custom-color-3 u-custom-font u-file-link u-hover-custom-color-12 u-hover-feature u-radius u-btn-7">
                                    View</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="u-container-style u-list-item u-repeater-item">
                    <div
                        class="u-container-layout u-similar-container u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xs u-container-layout-15">
                        <div
                            class="u-border-1 u-border-grey-75 u-container-style u-group u-radius u-shape-round u-white u-group-8">
                            <div
                                class="u-container-layout u-valign-top u-container-layout-16"><span
                                    class="u-file-icon u-icon u-icon-8"><img
                                        src="../static/images/3143460.png"
                                        alt></span>
                                <h6
                                    class="u-align-center u-custom-font u-text u-text-default u-text-8">
                                    Protective Coatings<br>
                                </h6>
                                <a href="../static/files/ProtectiveCoatings.zip"
                                    class="u-btn u-btn-round u-button-style u-custom-color-3 u-custom-font u-file-link u-hover-custom-color-12 u-hover-feature u-radius u-btn-8">
                                    View</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="u-container-style u-list-item u-repeater-item">
                    <div
                        class="u-container-layout u-similar-container u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xs u-container-layout-17">
                        <div
                            class="u-border-1 u-border-grey-75 u-container-style u-group u-radius u-shape-round u-white u-group-9">
                            <div
                                class="u-container-layout u-valign-top u-container-layout-18"><span
                                    class="u-file-icon u-icon u-icon-9"><img
                                        src="../static/images/3143460.png"
                                        alt></span>
                                <h6
                                    class="u-align-center u-custom-font u-text u-text-default u-text-9">
                                    Thinners<br>
                                </h6>
                                <a href="../static/files/Thinners.zip"
                                    class="u-btn u-btn-round u-button-style u-custom-color-3 u-custom-font u-file-link u-hover-custom-color-12 u-hover-feature u-radius u-btn-9">
                                    View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a
                class="u-absolute-vcenter u-gallery-nav u-gallery-nav-prev u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-1"
                href="#" role="button"><span aria-hidden="true">
                    <svg viewBox="0 0 451.847 451.847"><path
                            d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg></span><span
                    class="sr-only">
                    <svg viewBox="0 0 451.847 451.847"><path
                            d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg></span>
            </a>
            <a
                class="u-absolute-vcenter u-gallery-nav u-gallery-nav-next u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-2"
                href="#" role="button"><span aria-hidden="true">
                    <svg viewBox="0 0 451.846 451.847"><path
                            d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg></span><span
                    class="sr-only">
                    <svg viewBox="0 0 451.846 451.847"><path
                            d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg></span>
            </a>
        </div>
    </div>

</section>

<!-- Add loading spinner -->
<div class="loading-spinner" id="loadingSpinner"></div>

<!-- Load languages first, then main JavaScript -->
<script src="/static/js/languages/TechnicalDatasheets.js"></script>
<script src="/static/js/TechnicalDatasheets.js" defer></script>

<!-- Enhanced loading states and image optimization -->
<script>
document.addEventListener('DOMContentLoaded', function() {
    // Ensure langs is available as a fallback for compatibility
    if (typeof langs === 'undefined') {
        console.warn('langs object not loaded, creating fallback');
        window.langs = {
            'en': [
                'Noble paints | Technical Datasheets',
                'Home',
                'Technical Datasheets',
                'Technical Datasheets', 
                'Technical Datasheets',
                'Filter Technical Datasheets',
                'Select a country',
                'Category',
                'Previous',
                'Next'
            ],
            'ar': [
                'نوبل بينتس | المواصفات الفنية',
                'الرئيسية',
                'المواصفات الفنية',
                'المواصفات الفنية',
                'المواصفات الفنية',
                'فلترة المواصفات',
                'الدولة',
                'الفئة',
                'السابق',
                'التالي'
            ]
        };
    }
    
    // Optimize image loading
    const images = document.querySelectorAll('img[loading="lazy"]');
    images.forEach(img => {
        if (img.complete) {
            img.style.opacity = '1';
        } else {
            img.addEventListener('load', function() {
                this.style.opacity = '1';
            });
            img.addEventListener('error', function() {
                console.warn('Failed to load image:', this.src);
            });
        }
    });
    
    // Add loading states for navigation - use regular links instead of onclick
    const pagination = document.querySelectorAll('.page-link[href]:not([href="#"])');
    const spinner = document.getElementById('loadingSpinner');
    
    if (pagination && spinner) {
        pagination.forEach(link => {
            if (link && typeof link.addEventListener === 'function') {
                link.addEventListener('click', function(e) {
                    if (!this.parentElement.classList.contains('disabled') && !this.parentElement.classList.contains('active')) {
                        spinner.style.display = 'block';
                        // Let the browser handle the navigation naturally
                    }
                });
            }
        });
    }
    
    // Form submission loading states
    const searchBtn = document.getElementById('Searchbtn');
    const selectCountries = document.getElementById('selectCountries');
    
    if (searchBtn && spinner) {
        searchBtn.addEventListener('click', function() {
            const searchInput = document.getElementById('SearchKeywords');
            const searchValue = searchInput ? searchInput.value || '' : '';
            const currentCategory = '{{ category if category else "All" }}';
            const currentCountry = '{{ country if country else "All" }}';
            
            if (searchValue.trim() !== '') {
                spinner.style.display = 'block';
                window.location.href = `/TechnicalDatasheets/?page=1&category=${encodeURIComponent(currentCategory)}&search=${encodeURIComponent(searchValue)}&country=${encodeURIComponent(currentCountry)}&lang=en`;
            }
        });
    }
    
    if (selectCountries && spinner) {
        selectCountries.addEventListener('change', function() {
            const selectedCountry = this.value || 'All';
            const currentCategory = '{{ category if category else "All" }}';
            const currentSearch = '{{ search if search else "" }}';
            
            spinner.style.display = 'block';
            window.location.href = `/TechnicalDatasheets/?page=1&category=${encodeURIComponent(currentCategory)}&search=${encodeURIComponent(currentSearch)}&country=${encodeURIComponent(selectedCountry)}&lang=en`;
        });
    }
    
    // Handle category radio button changes
    const radioButtons = document.querySelectorAll('.radioSegments');
    radioButtons.forEach(radio => {
        if (radio && typeof radio.addEventListener === 'function') {
            radio.addEventListener('change', function() {
                if (this.checked && spinner) {
                    const selectedCategory = this.value || 'All';
                    const currentCountry = '{{ country if country else "All" }}';
                    const currentSearch = '{{ search if search else "" }}';
                    
                    spinner.style.display = 'block';
                    window.location.href = `/TechnicalDatasheets/?page=1&category=${encodeURIComponent(selectedCategory)}&search=${encodeURIComponent(currentSearch)}&country=${encodeURIComponent(currentCountry)}&lang=en`;
                }
            });
        }
    });
    
    // Handle search on Enter key
    const searchInput = document.getElementById('SearchKeywords');
    if (searchInput) {
        searchInput.addEventListener('keypress', function(e) {
            if (e.key === 'Enter') {
                e.preventDefault();
                if (searchBtn) {
                    searchBtn.click();
                }
            }
        });
    }
    
    // Hide spinner when page fully loaded
    window.addEventListener('load', function() {
        if (spinner) {
            spinner.style.display = 'none';
        }
    });
    
    // Hide spinner if it's been showing for too long (fallback)
    setTimeout(function() {
        if (spinner) {
            spinner.style.display = 'none';
        }
    }, 5000);
    
    // Error handling for any remaining undefined functions
    window.addEventListener('error', function(e) {
        if (e.message && e.message.includes('is not defined')) {
            console.warn('Caught undefined function error:', e.message);
            // Prevent the error from breaking the page
            e.preventDefault();
        }
    });
});
</script>
{%endblock%}
